<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Users List</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                              <th>Id</th>
                              <th>FirstName</th>
                              <th>LastName</th>
                              <th>Email</th>
                              <th>Action</th>
                              </thead>
                              <tbody>
                              <tr *ngFor="let user of users">
                                  <td class="hidden">{{user.id}}</td>
                                  <td>{{user.firstName}}</td>
                                  <td>{{user.lastName}}</td>
                                  <td>{{user.email}}</td>
                                  <td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete User</button></td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
